td {
    height: 100px;
    width: 100px;
}
body {
	background-color: black
}
.white-cell {
	background-color: white;
}
.red-cell {
	background-color: red;
}
.blue-cell {
	background-color: blue;
}
.yellow-cell {
	background-color: yellow;
}
.green-cell {
	background-color: green;
}